@font-face {
    font-family: "droidArabicKofiFont";
    src: url(../../admin/layout/fonts/droidArabicKofi.ttf);
}


body{
	font-family: "droidArabicKofiFont", 'Droid Sans', sans-serif;
}

/* Start Global style */

.list-menu, .info,
.pref-info,.lesson-info .body,
.pro .pro-avatar .avatar-info, .com,
.titles .folder-file .icon-name,
.titles .folder-file, input:not([type=submit]), 
.errors, .login .remember, textarea{
	direction: rtl;
}

.lower-nav .search input{
	direction: rtl;
}

/* End Global style */


/* Start Navbar style */
.custom-dropdown .dropdown-menu{
	text-align: right;
}
div.custom-dropdown:before, .dashboard:before, 
.custom-dropdown .dropdown-menu a:hover:before{
	right: 0;
	left: auto;
}
/* End Navbar style */

/* Start list-menu style */

.list-menu .personal{
	margin: 5px 9px 0 0;
}
.parent-title-con{
	padding: 0;
    margin: 0 0 0 0;
}
.list-menu .parent-title > span:first-child > i{
	left: 10px;
	right: auto;
	top: auto;
}
.list-menu .child-title-con{
	padding: 0;
}
.list-menu .child-title{
	padding: 7px 24px 7px 20px;
}
/* End list-menu style */

/* Start Remember me style */
.login .remember label{
	margin: 0 5px;
}
/* End Remember me style */


/* Start Settings Page */
.input-container .col-sm-2{
	float: right;
	margin: 5px 0 0 0;
}
.col-sm-10 .col-sm-offset-2{
	margin-left: 0
}
/* End Settings Page */


/* Start Index Page */

/* End Index Page */

/* Start Profile Page */
.avatar-info .links{
	left: 0;
	right: auto;
}
.com .com-body .com-header{
	margin-bottom: 8px;
}
.com .com-body .com-header .lesson-n{
	right: auto;
    left: 0;
}
.com .com-body .com-header .com-n{
	margin: 0 17px 0 0;
}

@media (max-width: 768px){
	.com .com-body .com-header .lesson-n{
		right: auto !important;
	}
	
}
/* End Profile Page */

/* Start titles Page */
.titles .folder-file ul{
	padding: 0;
}
/* End titles Page */